* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: aliceblue;
}

header {
    background: linear-gradient(135deg, #060701 0%, #09dfee 100%);
    color: white;
    padding: 1rem 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    background:linear-gradient(135deg, #000200 0%, #09dfee 100%);
    height:400px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero::before, .hero::after {
    content: "";
    position: absolute;
    background-color: rgba(17, 243, 232, 0.699);
    border-radius: 50%;
    z-index: 1;
}

.hero::before {
    width: 300px;
    height: 300px;
    top: -200px;
    left: -100px;
}

.hero::after {
    width: 400px;
    height: 400px;
    bottom: -200px;
    right: -150px;
}
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    opacity: 0.9;
}   

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #a320f0;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #07b8c9;
}

 .sports-sections{
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.sports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0% auto;
}

.sport-card {
    background-color: rgb(223, 239, 250);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
}
.sport-card:hover {
    transform: translateY(-5px);
}
.card-header {
    padding: 15px;
    color: rgb(7, 86, 122);
    font-weight: bold;
    text-align: center;
}

.header-futbol {background: linear-gradient(135deg, #42e695, #3bb2b8);}
.header-baloncesto {background: linear-gradient(135deg, #6ee2eb, #a320f0);}
.header-tenis {background: linear-gradient(135deg, hsl(152, 91%, 49%), #01583e);}
.header-natacion {background: linear-gradient(135deg, #ac7dd8, #92fe9d);}

.estadistica-section {
    background:linear-gradient(to right, #5ccbc0, #7e57c2, #ab47bc);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.estadistica-label {
    text-align: left;
    max-width: 1100px;
    margin: 0 auto 20px auto;
    font-size: 0.9rem;
    opacity: 0.8;
}

.estadistica-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
    margin:0 auto;
}
 .estadisticas-item {
    padding: 10px;
    max-width: 200px;
 }

 .estadisticas-item h2 {
font-size: 3rem;
margin: 0;
font-weight: bold;
 }

 .estadisticas-item p {
    font-size: 1rem;
    margin-top: 5px;
    opacity: 0.9;
 }

 .Noticias-section {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
 }

 .Noticias-section h2 {
    margin-bottom: 30px;
 }

 .Noticias-container {
display: flex;
flex-direction: column;
gap: 20px;
 }

 .Noticias-item {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 4px;
    border-left: 5px solid #8c6bc0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
 }

 .Noticias-item h3 {
    margin-bottom: 5px;
    color: #7e57c2;
 }
 
 .Noticias-item p {
    font-size: 0.95rem;
    color: #555;
 }

 .footer-principal {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 20px;
 }

 .footer-container h3 {
    margin-bottom: 5px;
    font-size: 1.5rem;
 }

    .footer-container p {
        font-size: 0.9rem;
        opacity: 0.8;
    } 

    .footer-links {
        margin-top: 20px 0;
    }

    .footer-link a {
        color:white;
        text-decoration: none;
        margin: 0 10px;
        font-weight: 0.9rem;
        transition: color 0.3s;
    }

    .footer-link a:hover {
        color: #7e57c2;
    }

    .copyrigth {
        margin-top: 30px;
        font-size: 0.8rem;
        border-top: 1px solid #444;
        padding: 20px;
    }

    @media (max-width:768px){
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2.2rem;
        padding: 0 10px;
    }
    .hero {
        height: 350px;
    }
    .estadisticas-item h2 {
        font-size: 2.2rem;
    }
    }
@media (max-width:480px){
    .nav-links {
        gap: 10px;
        font-size: 0.9rem;
    }
    .hero h1{
        font-size: 1.8rem;
}
.hero p {
    font-size: 1rem;
    padding: 0 15px;
}
.sports-grid {
    grid-template-columns: 1fr;
}
.estadistica-container {
    flex-direction: column;
    gap: 30px;
}
.Noticias-item h3 {
    font-size: 1.2rem;
}
.footer-link {
    
}
}












